section
    h2.highlight-item Vantagens do Calc
    p.space-top
        | Podemos fazer operações com propriedades de unidades diferentes, como somar 
        span.highlight-item % 
        | com 
        span.highlight-item px.