section
    h4.highlight-item #4 - Mais fácil leitura
    pre
        code.
            .col-2 {
                width: 16.66667%;
            }

            .col-2 {
                width: calc((100% / 12) * 2);
            }
