section
    h1.main-title 
        | CSS
        span#heart.heart
        | MATH
    p.main-links
        a(href="http://willianjusten.com.br/") Willian Justen 
        | / 
        a(href="https://twitter.com/Willian_justen") @Willian_justen
