section
    h2.highlight-item Geometria
    p.space-top 
        | É um ramo da matemática preocupado com questões de 
        span.highlight-item forma
        |, 
        span.highlight-item tamanho 
        | e 
        span.highlight-item posição relativa 
        | de figuras e com as propriedades do 
        span.highlight-item espaço.