doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/jobs
                include ../slides/love-math
                include ../slides/escape
                include ../slides/everything
                include ../slides/fear
                include ../slides/dont
                include ../slides/areas
                include ../slides/arithmetics
                include ../slides/calc
                include ../slides/calc-caniuse
                include ../slides/calc-advantages
                include ../slides/calc-case-1
                include ../slides/calc-case-2
                include ../slides/calc-case-3
                include ../slides/calc-case-4
                include ../slides/grid
                include ../slides/thanks
        include inc/scripts
