head
    meta(charset="UTF-8")
    title CSS <3 Math - MeetupCSS SP
    meta(name="description" content="Uma apresentação sobre a importância da matemática dentro do CSS.")
    meta(property="og:type" content="website")
    meta(property="og:image" content="img/folder-img.png")
    meta(property="og:description" content="Uma apresentação sobre a importância da matemática dentro do CSS.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")