$highlight-color = #006abd

body
    background white
.reveal
    h1
        font-size 3.5em
        line-height 0.9em
    a,
    .highlight-item
        color $highlight-color
    .main-title
        margin-bottom 50px
    .main-links
        font-size 0.8em
    .align-left
        text-align left
    hr
        border 1px dashed $highlight-color
    > .backgrounds
        background-color: #FFF
    .bigger-link
        font-size: 55px
    .space-top
        margin-top: 80px
    .heart
        display inline-block
        background-image url("../img/heart.svg")
        width 120px
        height 120px
        margin 0 20px -10px
    section img
        border none
        background none
        box-shadow none